<div class="container">
    <div class="side-image">
      <img src="login.png">
    </div>
  
    <div class="forgot-container">
      <h1>LOGO</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div><label for="email">Enter your email address</label></div>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput id="email" placeholder="Enter Email" formControlName="Email" type="email">
              <mat-error *ngIf="forgotPasswordForm.get('Email')?.hasError('required')">
                Email is required.
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('Email')?.hasError('email')">
                Enter a valid email address.
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('Email')?.hasError('maxlength')">
                Email cannot be longer than 100 characters.
              </mat-error>
            </mat-form-field>  

            <mat-card-actions>
              <button mat-raised-button class="full-width" type="submit">Send Link to my Email</button>
            </mat-card-actions>

            <div class="fp">Back to Sign In? <a [routerLink]="['']">Go Back</a></div>
  
          </mat-card-content>
          <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
          <div class="spinner__loading">
            <div>
              <mat-progress-spinner
                diameter="60"
                mode="determinate">
                </mat-progress-spinner>
            </div>
          </div>
        </form>
        
      </mat-card>
    </div>
  </div>
  