<div class="container">
    <div class="side-image">
      <img src="login.png" alt="Login Image">
    </div>
  
    <div class="reset-container">
      <h1>LOGO</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div>
              <label for="password">Enter New Password</label>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput id="password" placeholder="New Password" formControlName="password" type="password">
              <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
                New password is required.
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('maxlength')">
                Password must not exceed 20 characters.
              </mat-error>
            </mat-form-field>
  
            <div>
              <label for="confirmPassword">Confirm New Password</label>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" type="password">
              <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                Confirm password is required.
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.errors?.['mismatch']">
                Passwords do not match.
              </mat-error>
            </mat-form-field>
          </mat-card-content>
  
          <mat-card-actions>
            <button mat-raised-button class="full-width" type="submit" [disabled]="resetPasswordForm.invalid">Reset</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
  